{% extends "index.html" %}
{% load static %}
{% block title %}Register{% endblock %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/styles1.css' %}">
</head>
<div id="register-section" class="body">
    <div class="container">
        <h2>Registration Form</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.user_name.id_for_label }}">User Name</label>
                {{ form.user_name }}
            </div>
            <div class="form-group">
                <label for="{{ form.email.id_for_label }}">Email</label>
                {{ form.email }}
            </div>
            <div class="form-group">
                <label for="{{ form.password1.id_for_label }}">Password</label>
                {{ form.password1 }}
            </div>
            <div class="form-group">
                <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
                {{ form.password2 }}
            </div>
            <div class="form-group">
                <label for="{{ form.is_vendor.id_for_label }}">Is Vendor</label>
                {{ form.is_vendor }}
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>
{% endblock %}
